#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad
.brackets.json
.jshintrc
.tern-project
.vs

#Other
node_modules
*.orig
.svn
packages/
!packages/repositories.config
node_modules/
BuildAndDeployment/RoyalTS/*.rtsz
BuildAndDeployment/test
Source/SmartHub.Web/webroot/app/seed-data/*
Docs/SmartHub_API_Postman.json
Docs/event_messages/
Docs/api_docs/
.chef
update
Tests/Data
Legacy/PTMWebsite/Documents/UploadedPayrollFiles/*
Legacy/PTMWebSite/Documents/DemoFiles/*

# Include DLLs if they're in the NuGet packages directory
#!/packages/*/lib/*.dll
Source/TestResults/
Tests/TestResults/
TestResult.xml
Tests/Reports/
TestResults/
BuildAndDeployment/vendor
BuildAndDeployment/staging
BuildAndDeployment/Berksfile.lock
BuildAndDeployment/Gemfile.lock
BuildAndDeployment/local_snapshot_backup.sql
BuildAndDeployment/local_snapshot_dropdb.sql
BuildAndDeployment/local_snapshot_restore.sql
deployments.txt
.idea
/Tests/FunctionalTests/Distrib
/BuildAndDeployment/lib/dbdeploy/DbDeployUndo.sql
/BuildAndDeployment/lib/dbdeploy/DbDeploy2.log
SqlScripts/TaxManagement/ScriptList.txt
/Tests/Distrib

/allcmd.txt
/sqldeployrm.cmd
package-lock.json